@import url('https://fonts.googleapis.com/css?family=Montserrat');
body,
html {
  height: 100%;
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

body #bg {
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 100% 100%, 25% 100%, 0% 60%, 0 0);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 100% 100%, 25% 100%, 0% 60%, 0 0);
  background-color: #005dff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 895px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 75% 0, 57% 100%, 0 78%);
  clip-path: polygon(0 0, 75% 0, 57% 100%, 0 78%);
  }
}

@media (min-width: 895px) {
  #main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
    grid-template-columns: 50% auto;
    grid-template-areas: 'primary card';
  }
}

#main section#card {
  background: white;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
}

@media (min-width: 895px) {
  #main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 1em;
  }
}

#main section#card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main section#card ul li {
  margin-bottom: 10px;
}

#main section#card ul li span {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ccdfff;
  border-radius: 50%;
  margin-right: 10px;
}

#main section#card ul li strong {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

#main section#primary {
  color: white;
  padding: 15px;
  text-align: center;
}

@media (min-width: 895px) {
  #main section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

@media (max-height: 600px) {
  #main section#primary {
    padding: 0;
  }
}

#main section#primary h1 {
  font-size: 3em;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 895px) {
  #main section#primary h1 {
    width: 30%;
    font-size: 4em;
    line-height: 0.9em;
  }
}

@media (max-height: 400px) {
  #main section#primary h1 {
    font-size: 2.5em;
    line-height: 0.9em;
  }
}

@media (max-width: 437px) {
  #main section#primary h1 {
    font-size: 2em;
  }
}

#main section#primary p {
  font-size: 1.4em;
}

@media (max-height: 400px) {
  #main section#primary p {
    font-size: 1em;
  }
}

@media (max-width: 437px) {
  #main section#primary p {
    font-size: 1em;
  }
}

#main section#primary a {
  color: #001333;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff6bb;
  text-align: center;
  display: block;
  margin: 50px auto 0 auto;
  padding: 15px;
}

@media (min-width: 895px) {
  #main section#primary a {
    padding: 15px 60px;
  }
}
